[submodule "flutter-contador-de-pessoas"]
	path = flutter-contador-de-pessoas
	url = https://github.com/juillianlee/flutter-contador-de-pessoas
[submodule "flutter-calculadora-imc"]
	path = flutter-calculadora-imc
	url = https://github.com/juillianlee/flutter-calculadora-imc
[submodule "flutter-conversor-moeda"]
	path = flutter-conversor-moeda
	url = https://github.com/juillianlee/flutter-conversor-moeda
[submodule "flutter-todo-list"]
	path = flutter-todo-list
	url = https://github.com/juillianlee/flutter-todo-list
[submodule "flutter-buscador-gifs"]
	path = flutter-buscador-gifs
	url = https://github.com/juillianlee/flutter-buscador-gifs
[submodule "flutter-agenda-contatos"]
	path = flutter-agenda-contatos
	url = https://github.com/juillianlee/flutter-agenda-contatos
