[submodule "flutter-contador-de-pessoas"]
	path = flutter-contador-de-pessoas
	url = https://github.com/juillianlee/flutter-contador-de-pessoas
[submodule "flutter-calculadora-imc"]
	path = flutter-calculadora-imc
	url = https://github.com/juillianlee/flutter-calculadora-imc
[submodule "flutter-conversor-moeda"]
	path = flutter-conversor-moeda
	url = https://github.com/juillianlee/flutter-conversor-moeda
